<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="elgentos" translate="label" sortOrder="100">
            <label>Elgentos</label>
        </tab>
        <section id="zipcode_checker" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Zipcode Checker</label>
            <tab>elgentos</tab>
            <resource>Elgentos_ZipcodeChecker::config</resource>
            <group id="postnl" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PostNL</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Enabled</label>
                </field>
                <field id="endpoint" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Endpoint</label>
                    <validate>required-entry no-whitespace</validate>
                </field>
                <field id="access_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access key</label>
                </field>
                <field id="access_key_secret" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access key secret</label>
                </field>
                <field id="countries" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Countries to use API</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <comment><![CDATA[For more info, see the <a href="https://developer.postnl.nl/docs/#/http/api-endpoints/checkout-delivery-options/postalcode-check/overview" target="_blank">PostNL Postalcode Check</a> documentation.]]></comment>
                </field>
            </group>
            <group id="postcode_eu" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Postcode.eu</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <label>Enabled</label>
                </field>
                <field id="endpoint" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Endpoint</label>
                    <validate>required-entry no-whitespace</validate>
                </field>
                <field id="access_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access key</label>
                </field>
                <field id="access_key_secret" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access key secret</label>
                </field>
                <field id="countries" translate="label" type="multiselect" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Countries to use API</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <comment><![CDATA[For more info, see the <a href="https://developer.postcode.eu/documentation" target="_blank">Postcode.eu</a> documentation.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
